<div class="footer">
   <div class="container">
      <ul class="social_media">                           
         <li>
            <%= link_to "github", "https://github.com/chris251190", :class => "github" %>
         </li>

         <li>
            <%= link_to "facebook", "https://www.facebook.com/christian.lehr.54", :class => "facebook" %>
         </li>

         <li>
            <%= link_to "linkedin", "https://www.linkedin.com/in/christian-lehr-135983112", :class => "linkedin" %>
         </li>
         
      </ul>
      <p>&copy; 2016 Christian Lehr</p>
   </div>
</div>