<div class="main about">
   <div class="container">
      <div class="row">
         <div class="col-md-4 thumbnail"> <%= image_tag "https://photos-6.dropbox.com/t/2/AAD7ooICC4BtmW9umbEUNf44k8YJy4FUYrdh4XoevFGX8g/12/232995043/jpeg/32x32/1/_/1/2/me.jpg/ELvnl8cBGPgHIAIoAg/4Cs8CZYruhQ2A1siNLbW0ssOmi9ucX_TfZxGKnnHf5o?size=1280x960&size_mode=3" %> </div>
         <div class="col-md-7">
            <h2>Hello. My name is <span class="highlight">Christian Lehr</span></h2>
            <p>I was born in 1990 in Buxtehude in Germany.</p>
            <p>Since 2001, I've been pursuing my passion, building websites and developing my creativity.</p>
         </div>
      </div>
   </div>
</div>
