<div class="main about">
   <div class="container">
      <div class="row">
         <div class="col-md-4 thumbnail"> <%= image_tag "me" %> </div>
         <div class="col-md-7">
            <h2>Hello. My name is <span class="highlight">Christian Lehr</span></h2>
            <p>I was born in 1990 in Buxtehude in Germany.</p>
            <p>Since 2001, I've been pursuing my passion, building websites and developing my creativity.</p>
         </div>
      </div>
   </div>
</div>
