.blog { 

	color: #fff;
	background: url(image-path("city")) no-repeat center center fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;


.jumbotron {
	margin-top: 30px;
	background-color: rgba(0,0,0,0.5);
	
}


}
